* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

@font-face {
    font-family: "Anastasia";
    src: url("/fonts/Anastasia.ttf");
}

.anastasia {
    font-family: 'Anastasia', sans-serif;
}

.wrapper .h-50 {
    height: 50px;
}

.wrapper .h-150 {
    height: 150px;
}

.wrapper {
    padding-left: 20px;
    width: 100vw;
    overflow-x: auto;
    white-space: nowrap;
}

.ver {
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 15px 15px 0 0;
    overflow-y: scroll;
    white-space: normal;
}

.hor {
    background: grey;
    overflow: hidden;
    height: 30px;
}

p {
    margin: 10px;
}